{% extends "layout.html" %}

{% block pageTitle %}
  Costal Communities Fund - Key dates
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Society and culture</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Community and society</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ fundName }}
      </h1>

      <p class="govuk-body-l">
        A UK wide fund committing £23.7m to support coastal communities through investment in sustainable economic growth, jobs and innovation.
        </p>

      <ul class="govuk-list govuk-list--spaced govuk-body-s">
        <li>Contents</li>
        <li>
          &mdash; <a class="govuk-link" href="index">About this fund</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index2">Ministerial foreword</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index3">Are you eligible?</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index4">How to meet the outcomes</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="start">Submit your application</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index6">Example case studies</a>
        </li>
        <li>
          &mdash; Key dates
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index8">Support with your application</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index9">Download full prospectus</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-3">

      <h2 class="govuk-heading-m">
        Key dates
      </h2>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>February 2012</strong> - Fund scope released including timetable for applications</li>
        <li><strong>w/c 5 March 2012</strong> - UK wide call for Expression of Interests (EoI)</li>
        <li><strong>31 March 2012</strong> -  Deadline to submit Expression of Interests</li>
        <li><strong>Mid-April 2012</strong> - Application forms sent to successful Fast Track EoIs</li>
        <li><strong>31st May 2012</strong> - Deadline for Fast Track applications including business plans</li>
        <li><strong>30 June 2012</strong> - Fast Track decision panel meets</li>
        <li><strong>Mid-July 2012</strong> - Fast Track awards announced</li>
        <li><strong>30 September 2012</strong> - Deadline for non Fast Track applications including plans </li>
        <li><strong>December 2012</strong> - Non Fast Track decision panel meets</li>
        <li><strong>31 December 2012</strong> - Non Fast Track Year 1 awards announced</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">
      <a href="index6" class="govuk-link govuk-link--no-underline">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13" style="transform: rotate(180deg);">
            <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
            Previous
          </span>
        </span>
        <br />
          <span class="govuk-!-margin-left-6">Example case studies</span>
      </a>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-3">
      <a href="index8" class="govuk-link govuk-link--no-underline">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
              Next
            </span>
          </span>
          <br />
            <span class="govuk-!-margin-left-6">Support with your application</span>
        </a>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                New levelling up and community investments
              </a>
            </li>
            <li>
              <a href="funds">
                View other funds
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
