{% extends "layout.html" %}

{% block pageTitle %}
  Costal Communities Fund - Example case studies
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Society and culture</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Community and society</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ fundName }}
      </h1>

      <p class="govuk-body-l">
        A UK wide fund committing £23.7m to support coastal communities through investment in sustainable economic growth, jobs and innovation.
        </p>

      <ul class="govuk-list govuk-list--spaced govuk-body-s">
        <li>Contents</li>
        <li>
          &mdash; <a class="govuk-link" href="index">About this fund</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index2">Ministerial foreword</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index3">Are you eligible?</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index4">How to meet the outcomes</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="start">Submit your application</a>
        </li>
        <li>
          &mdash; Example case studies
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index7">Key dates</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index8">Support with your application</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index9">Download full prospectus</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-3">

      <h2 class="govuk-heading-m">
        Example case studies
      </h2>
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Attracting private investment to the development of Bolton Town Centre
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Content needed here
          </p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Modernising historic assets to drive local growth
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Historic England’s cross Pennine project focused on the economic potential of vacant historic textiles mills. 20 target mills where identified and options explored to make them viable investments and ensure that wider regeneration benefits are captured. The project concluded that across West Yorkshire and the North West there is 3m sqm of untapped space which could provide 35,000 homes, 200,000 jobs, £9 billion GVA and £23 million per annum in business rates.</p>
          <p>Sunny Bank Mills, Farsley, Leeds was a major employer for more than a century, it closed in 2008 and the owners, took an incremental approach to regeneration, establishing an employment centre and creating quality commercial space. </p>
          <p>The individual character of the buildings and the site’s history make it unique and appealing. It is now home to over 70 businesses including designers, textile artists and a children’s play gym, providing 300 jobs overall. It also accommodates a café, art gallery and shop, and hosts an annual community festival, drawing thousands of visitors every year.</p>
          <p><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/att">Source</a></p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Connecting employers with education providers in the Black Country
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Content needed here
          </p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Supporting science intensive firms in Harlow
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Content needed here
          </p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Strengthening transport links between towns and cities
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Content needed here
          </p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Opening access to retail in Telford
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Content needed here
          </p>
        </div>
      </details>




      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">
      <a href="index4" class="govuk-link govuk-link--no-underline">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13" style="transform: rotate(180deg);">
            <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
            Previous
          </span>
        </span>
        <br />
          <span class="govuk-!-margin-left-6">How to meet the outcomes</span>
      </a>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-3">
      <a href="index7" class="govuk-link govuk-link--no-underline">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
              Next
            </span>
          </span>
          <br />
            <span class="govuk-!-margin-left-6">Key dates</span>
        </a>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                New levelling up and community investments
              </a>
            </li>
            <li>
              <a href="funds">
                View other funds
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
