{% extends "layout.html" %}

{% block pageTitle %}
  Costal Communities Fund - How to meet the outcomes
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Society and culture</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Community and society</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ fundName }}
      </h1>

      <p class="govuk-body-l">
        A UK wide fund committing £23.7m to support coastal communities through investment in sustainable economic growth, jobs and innovation.
        </p>

      <ul class="govuk-list govuk-list--spaced govuk-body-s">
        <li>Contents</li>
        <li>
          &mdash; <a class="govuk-link" href="index">About this fund</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index2">Ministerial foreword</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index3">Are you eligible?</a>
        </li>
        <li>
          &mdash; How to meet the outcomes
        </li>
        <li>
          &mdash; <a class="govuk-link" href="start">Submit your application</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index6">Example case studies</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index7">Key dates</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index8">Support with your application</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index9">Download full prospectus</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-3">

      <h2 class="govuk-heading-m">
        How to meet the fund outcomes
      </h2>

      <p>Projects applying for funding will have to show (with evidence) how they will meet a common set of programme outcomes.</p>

      <h3 class="govuk-heading-s">
        What are the outcomes
      </h3>

      <p><strong>All projects MUST meet the following outcome:</strong></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          That your coastal community will benefit and are able to use their assets (physical, natural, environmental, social, economic and/or cultural) better while promoting sustainable economic growth and jobs.
        </li>
      </ul>

      <p><strong>All projects MUST MEET AT LEAST ONE of the following outcomes:</strong></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Deliver greater capacity to create a sustainable economic future where the coastal community is better equipped to adapt to change
        </li>
        <li>Demonstrate partnerships - within a community and/or across coastal communities -  which support economic innovation, enterprise and investment</li>
        <li>Demonstrate that people in the community have more opportunities for training and skill development, including volunteering</li>
      </ul>

      <h3 class="govuk-heading-s">
        Criteria checklist
      </h3>
      <p>Expanding on the outcomes you need to meet, proposals MUST demonstrate how they meet the following criteria:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Encourage sustainable economic growth.</strong> You must show how you proposal encourages economic growth in the area. Benefits will not have to be delivered within time limit, but you will have to define <strong>how</strong> and <strong>when</strong> they will be delivered. This provides assurance of the projects viability while allowing for medium / long term planning.</li>
        <li><strong>Demonstrate that the proposal fits with the broad economic priorities of the local area.</strong> Where possible, link this to your wider economic vision including private sector commitment and community support.</li>
        <li><strong>Demonstrate how the proposal unlocks barriers, addresses a need or opportunity within the area.</strong> Provide clear evidence of the barrier currently faced and how it will be overcome to provide benefit to the community.</li>
        <li><strong>Demonstrate (where appropriate) how your proposal contributes to green economic growth.</strong> Provide clear evidence of the economic benefit and its environmental focus.</li>
        <li><strong>Explain how you plan to work with other keys partners to deliver outcomes.</strong> This could be with public, private, voluntary, social enterprise or community sectors.</li>
        <li><strong>Where proposals involve flood and coastal erosion risk management</strong> include evidence that you are supported by either the Coastal Protection Authority (erosion), or the Environment Agency (flooding).</li>
      </ul>

      <p><strong>You must also demonstrate how Coastal Communities Fund support is vital to this projects success.</strong></p>

      <h3 class="govuk-heading-s">
        Additional evidence
      </h3>
      <p>You should also look to include information on:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Risk.</strong> Be clear on the risks to your project you’ve already identified and how this risk will be managed.</li>
        <li><strong>Previous success.</strong> Where applicable, demonstrate your proven ability to manage and deliver projects, particularly if they involved infrastructure improvements</li>
        <li><strong>Match funding.</strong> If your bid includes match-funding, show how you’ve stress tested it against rules governing other funding sources.</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">
      <a href="index3" class="govuk-link govuk-link--no-underline">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13" style="transform: rotate(180deg);">
            <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
            Previous
          </span>
        </span>
        <br />
          <span class="govuk-!-margin-left-6">Are you eligible?</span>
      </a>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-3">
      <a href="start" class="govuk-link govuk-link--no-underline">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
              Next
            </span>
          </span>
          <br />
            <span class="govuk-!-margin-left-6">Submit your application</span>
        </a>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                New levelling up and community investments
              </a>
            </li>
            <li>
              <a href="funds">
                View other funds
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
