{% extends "layout.html" %}

{% block pageTitle %}
  Costal Communities Fund - Are you eligible?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Society and culture</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Community and society</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ fundName }}
      </h1>

      <p class="govuk-body-l">
        A UK wide fund committing £23.7m to support coastal communities through investment in sustainable economic growth, jobs and innovation.
        </p>

      <ul class="govuk-list govuk-list--spaced govuk-body-s">
        <li>Contents</li>
        <li>
          &mdash; <a class="govuk-link" href="index">About this fund</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index2">Ministerial foreword</a>
        </li>
        <li>
          &mdash; Are you eligible?
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index4">How to meet the outcomes</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="start">Submit your application</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index6">Example case studies</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index7">Key dates</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index8">Support with your application</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="index9">Download full prospectus</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-3">

      <h2 class="govuk-heading-m">
        Are you eligible?
      </h2>

      <h3 class="govuk-heading-s">
        Eligibility overview
      </h3>

      <p>The Coastal Communities fund is UK wide which means that groups in England, Scotland, Wales and Northern Ireland can apply. </p>

      <p>If you are applying in Scotland, this fund has been split into two pots depending on where you are geographically. Check before submitting your bid whether your region is classed as <a href="#">Highlands & Islands</a> or the <a href="#">rest of Scotland</a>.</p>

      <p>You are considered a coastal community if: you are a coastal settlement within a local authority whole boundaries include <a href="#">UK foreshore.</a> It also includes local authorities whose boundaries only include <a href="#">estuarine foreshore</a>.</p>

      <p>We will support project bids <strong>and</strong> multiple smaller bids working together towards a shared goal for a single community, or several coastal communities.</p>

      <h3 class="govuk-heading-s">
        Who can apply
      </h3>
      <p>Examples of the organisation types who can apply for funding include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Charities
        </li>
        <li>
          Voluntary or community sector organisations
        </li>
        <li>
          Social enterprises (including cooperatives and community ownership initiatives)
        </li>
        <li>
          Local authorities
        </li>
        <li>Development agencies (devolved administrations)</li>
        <li>Local Enterprise Partnerships (England)</li>
        <li>Private sector companies</li>
      </ul>


      <h3 class="govuk-heading-s">
        Types of activities considered
      </h3>

      <p>The fund objective is to support the economic development of coastal communities by promoting sustainable growth. </p>

      <p>We’re looking for projects that can achieve this through; improving local assets, relationships with other coastal communities, and improving job and skill opportunities.</p>

      <p>The criteria in this section will be part of the application form you complete and used when assessing project applications. Projects that demonstrate the most economic growth will be prioritised.</p>

      <p>Note: if your project(s) or programme supports job creation, you will need to demonstrate the number of direct and/or indirect new jobs together with an estimated cost per job.</p>

      <p>Examples of activities we will fund include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <strong>Skills and training initiatives.</strong>
          Which improve job prospects for local residents and encourage new business.
        </li>
        <li>
          <strong>Developing and maintaining tourist infrastructure</strong>
          which may include new green tourism opportunities.
        </li>
        <li>
          <strong>Managing and adapting flood and coastal erosion.</strong>
          This could also include managing pollution risks unique to being coastal. In all cases your project must support local economic development.
        </li>
        <li>
          <strong>Social enterprise support.</strong>
          Making best use of local assets to bring new economic opportunities and jobs to coastal towns.
        </li>
        <li>
          <strong>Creating new workspaces.</strong>
          To support and grown local economies.
        </li>
        <li>
          <strong>Building community capacity</strong>
          to promote enterprise and economic regeneration in the area.
        </li>
        <li>
          <strong>Transport improvements.</strong>
          We will support small-scale and sustainable improvements.
        </li>
        <li>
          <strong>Renewable energy projects.</strong>
          Offshore activity will be considered if it clearly improving economic growth in nearby costal communities. 
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        Funding and finance
      </h3>

      <p>This is a rolling fund with annual bidding rounds and we expect Coastal Communities Fund to run for 3 years in total. You can apply for funding over a two year period, you can view the <a href="#">key dates for this fund here</a>.</p>

      <p>Coastal Communities Fund is equal to 50% of the revenues generated by the Crown Estate’s marine assets. It’s linked with Crown Estate revenues, but the money is provided by the Exchequer and comes from spending totals allocated in the 2010 Spending Review.</p>

      <p><strong>We expect bids for this fund to be valued at £50k or above.</strong></p>

      <p>We will support <a href="#">capital and revenue projects</a>. If your bid includes a revenue scheme, you will need to demonstrate how it will continue after funding ends.</p>

      <p>Match funding is not essential when applying for money from this fund. We do encourage you to explore other funding avenues (e.g. Regional Growth Fund, European Fisheries Fund etc) to help maximise your success.</p>


      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">
      <a href="index2" class="govuk-link govuk-link--no-underline">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13" style="transform: rotate(180deg);">
            <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
            Previous
          </span>
        </span>
        <br />
          <span class="govuk-!-margin-left-6">Ministerial foreword</span>
      </a>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-3">
      <a href="index4" class="govuk-link govuk-link--no-underline">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
              Next
            </span>
          </span>
          <br />
            <span class="govuk-!-margin-left-6">How to meet the outcomes</span>
        </a>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                New levelling up and community investments
              </a>
            </li>
            <li>
              <a href="funds">
                View other funds
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
