{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" onclick="window.history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="organisation" method="post">

        <h1 class="govuk-heading-l">
          When will the project be delivered?
        </h1>

        <p>This date must be before June 2021 and not after July 2023.

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="project-delivery-date-start-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Project start date
              </h2>
            </legend>
            <div id="project-delivery-date-start-hint" class="govuk-hint">
                For example, 3 1980
              </div>
            <div class="govuk-date-input" id="project-delivery-date-start">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="project-delivery-date-start-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="project-delivery-date-start-month" name="project-delivery-date-start-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="project-delivery-date-start-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="project-delivery-date-start-year" name="project-delivery-date-start-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="project-delivery-date-end-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Project end date
              </h2>
            </legend>
            <div id="project-delivery-date-end-hint" class="govuk-hint">
                For example, 3 1980
              </div>
            <div class="govuk-date-input" id="project-delivery-date-end">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="project-delivery-date-end-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="project-delivery-date-end-month" name="project-delivery-date-end-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="project-delivery-date-end-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="project-delivery-date-end-year" name="project-delivery-date-end-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>


    </div>
  </div>

{% endblock %}
