{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="project-delivery-location" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Does the project include subsidy control (previously known as state aid)?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-subsidy-control" name="project-subsidy-control" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="project-subsidy-control">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-subsidy-control-2" name="project-subsidy-control" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="project-subsidy-control-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-subsidy-control-3" name="project-subsidy-control" type="radio" value="I don't know">
                <label class="govuk-label govuk-radios__label" for="project-subsidy-control-3">
                  I don't know
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with subsidy control
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              Subsidy control are rules in place to stop a company receiving government support to gain and advantage over it's competitors.
            </p>
            <a href="#">
              Further guidance on subsidy control
            </a>
          </div>
        </details>

      </form>


    </div>
  </div>

{% endblock %}
