{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Society and culture</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Community and society</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ fundName }}
      </h1>

      <p class="govuk-body-l">
        A UK wide fund commiting £23.7m to support coastal communities through investment in sustainable economic growth, jobs and innovation.
        </p>

      <ul class="govuk-list govuk-list--spaced govuk-body-s">
        <li>Contents</li>
        <li>
          &mdash; <a class="govuk-link" href="index">About this fund</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="#">Ministerial foreword</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="#">Are you eligible?</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="#">How to meet the outcomes</a>
        </li>
        <li>
          &mdash; Submit your application
        </li>
        <li>
          &mdash; <a class="govuk-link" href="#">Example case studies</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="#">Key dates</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="#">Support with your application</a>
        </li>
        <li>
          &mdash; <a class="govuk-link" href="#">Download full prospectus</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">

      <h2 class="govuk-heading-m">
        Submit your application
      </h2>

      <p>Use this service to check if your project is suitable for this fund. You will have the option to submit an application at the end.</p>

      <p>To apply:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you must be applying on behalf of a Local Enterprise Partnership (LEP)</li>
        <li>you must be able to demonstrate local match funding</li>
        <li>the bid must be between £xx and £xx</li>
      </ul>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the organisation's details</li>
        <li>access to an email address</li>
      </ul>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.
      </p>

      <a href="email" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">

      <a href="#" class="govuk-link govuk-link--no-underline">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
              Previous
            </span>
          </span>
          <br />
            <span class="govuk-!-margin-left-6">How to meet the outcomes</span>
        </a>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2">

        <a href="#" class="govuk-link govuk-link--no-underline">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="govuk-!-margin-left-2 govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-underline">
                Next
              </span>
            </span>
            <br />
              <span class="govuk-!-margin-left-6">Example case studies</span>
          </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                New levelling up and community investments
              </a>
            </li>
            <li>
              <a href="funds">
                View other funds
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
