{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ fundName }} application
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 5 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Organisation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task-organisation" aria-describedby="organisation-status">
                  Organisation information
                </a>
              </span>
              {% if data['organisation-name'] and data['organisation-type'] and data['organisation-registration'] and data['organisation-vat'] %}
              <strong class="govuk-tag app-task-list__tag" id="organisation-status">Completed</strong>
              {% elseif data['organisation-name'] or data['organisation-type'] or data['organisation-registration'] or data['organisation-vat'] %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="organisation-status">In Progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-status">Not started</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-status">
                  Contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="financial-status">
                  Financial information
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="sro-status">
                  Senior Responsible Officer details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="sro-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> About the project
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="project-status">
                  Project details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="project-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="manager-status">
                  Project manager
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="manager-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="partners-status">
                  Partners
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="partners-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="location-status">
                  Project location
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="location-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="timescales-status">
                  Timescales
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="timescales-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Strategic case
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="strategy-status">
                  Strategy and objectives
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="strategy-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Financial case
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="funding-status">
                  Funding
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="funding-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Economic case
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="value-status">
                  Value for money
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="value-status">Not started</strong>
            </li>
          </ul>
        </li>

      </ol>

      <button disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
        Submit application
      </button>

      <p><a href="#">Contact help and support</a></p>

    </div>
  </div>

{% endblock %}
